        <h2>Job Application Form</h2>
        <form action="/job/{{job['id']}}/apply">
            <div class="form-group">
                <label for="fullname">Full Name:</label>
                <input type="text" id="fullname" name="fullname"  placeholder="James Carmon" >
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"  placeholder="jamescarmon@gmail.com" >
            </div>

            <div class="form-group">
                <label for="linkedin">LinkedIn URL:</label>
                <input type="url" id="linkedin" name="linkedin" placeholder="http://linkedin.com">
            </div>

            <div class="form-group">
                <label for="experience">Previous Experience:</label>
                <textarea id="experience" name="experience" rows="4" placeholder="2yrs"></textarea>
            </div>

            <div class="form-group">
                <label for="education">Education:</label>
                <textarea id="education" name="education"  rows="2" placeholder=" Bacholer's In Computer Science " ></textarea>
            </div>

            <div class="form-group">
                <label for="work_experience">Work Experience:</label>
                <textarea id="work_experience" name="work_experience" rows="4" placeholder="Data Science and Machine Learning"></textarea>
            </div>

            <input type="submit" name="submit">
            

            <!-- <button type="submit" class="btn btn-primary submit-btn">Submit Application</button> -->
        </form>